<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main_menu.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Main menu</title>
</head>
<body>
    <div class="logo">
        <h1>
            <a href="main_menu.html">
                <img id="logo2" src="../img/Logo.png"></img>
            </a>
        </h1>
    </div>
    <div class="header">
        <h2>
            <i id="i1">Shall we play?</i>
        </h2>
    </div>
    <div class="buttons">
        <a href="solo_game.html">
            <button id="b1" type="button">SOLO GAME</button>
        </a>
        <a href="your_points.html">
            <button id="b2" type="button">YOUR POINTS</button>
        </a>
        <a href="top_100.html">
            <button id="b3" type="button">TOP 100</button>
        </a>
    </div>
</body>
</html>