<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main_menu.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Main menu</title>
</head>
<body>
    <div class="logo">
        <h1>
            <img id="logo2" src="../img/Logo.png"></img>
        </h1>
    </div>
    <div class="header">
        <h2>
            <i id="i1">Shall we play?</i>
        </h2>
    </div>
    <div class="buttons"> 
            <button id="b1" type="submit">SOLO GAME</button>
            <button id="b2" type="submit">YOUR POINTS</button>
            <button id="b3" type="submit">TOP 100</button>
    </div>
</body>
</html>