<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/scores.css">
    <title>Scores</title>
</head>
<body>
    <div class="logo">
        <h1>
            <a href="main_menu.html">
                <img id="logo2" src="public/img/Logo.png"></img>
            </a>
        </h1>
    </div>
    <div class="header">
        <h2>
            <i id="i1">Scores</i>
        </h2>
    </div>
    <div class="list1">
        <button class="button_play" type="submit" id="play">Play again</button>
    </div>
    <div class="scores">
        <i id="i2">YOU WON!</i>
        <i id="i3">Your score:....................9/10</i>
        <i id="i4">Friend score:..................7/10</i>
    </div>
</body>
</html>