<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/solo_game.css">
    <title>Solo game</title>
</head>
<body>
    <div class="logo">
        <h1>
            <a href="main_menu.html">
                <img id="logo2" src="../img/Logo.png"></img>
            </a>
        </h1>
    </div>
</body>
</html>