#logo2 {
    width: 17vh;
    position: absolute;
    top: 3vh;
    left: 1vw;
}

.buttons #b1{
    background: #f8d582;
    border: 6px solid #0e6cdb;
    border-radius: 1em;
    margin: 3vh;
    color: #18893c;
    font-size: 6vh;
    font-weight: bold;
    width: 77vw;
    height: 34vh;
    cursor: pointer;

}
.buttons #b2,#b3{
    background: #f8d582;
    border: 6px solid #0e6cdb;
    border-radius: 1em;
    margin: 3vh;
    color: #18893c;
    font-size: 6vh;
    font-weight: bold;
    width: 37vw;
    height: 34vh;
    cursor: pointer;
}

#b1{
    position: absolute;
    top: 20vh;
    left: 10vw;
}

#b2{
    position: absolute;
    top: 60vh;
    left: 10vw;
}

#b3{
    position: absolute;
    top: 60vh;
    left: 50vw;
}

#b1:hover,#b2:hover,#b3:hover {

    background: #FEC337;
}