* {
    color: white;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

#logo2 {
    width: 17vh;
    position: absolute;
    top: 3vh;
    left: 1vw;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#8b58e2 0%, #462c71 50%, #0af759 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    gap: 1em;
    width: 50vw;
    height: 52vh;
    border-radius: 70px;
    background: #18893c;
    border: 6px solid #0e6cdb;
}

a {
    font-size: 40px;
    font-weight: bold;
}

input {
    color: #0e6cdb;
    border: none;
    padding: 0.2em;
    margin: 0;
    font-size: 30px;
    width: 75%;
}

.button_1 {
    background: #f8d582;
    border: none;
    padding: 0.2em;
    color: #3f48cc;
    font-size: 40px;
    font-weight: bold;
    width: 35%;
    cursor: pointer;
}

.button_1:hover {
    background: #FEC337;
}

#i1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}

.header {
    position: absolute;
    top: 3vh;
    left: 13vw;
    width: 85vw;
    height: 13vh;
    border-radius: 31px;
    background: #18893c;
    border: 6px solid #0e6cdb;
}

.list1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    gap: 1em;
    width: 80vw;
    height: 70vh;
    border-radius: 80px;
    background: #18893c;
    border: 6px solid #0e6cdb;
}

.button_play {
    background: #f8d582;
    border: none;
    padding: 0.2em;
    color: #3f48cc;
    border-radius: 1em;
    font-size: 40px;
    font-weight: bold;
    width: 30vw;
    cursor: pointer;
}

.button_play:hover {
    background: #FEC337;
}